/* CSS for MainPage component */
.MainMenuButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;

    button {
        background: #afafaf;
        border: 1px solid #000;
        padding: 10px;
        min-width: 100px;
        min-height: 100px;
    }
}

.PageTitle {
    margin: 10px;
    width: 100vw;
    text-align: center;
}

.NameInput {
    margin: 10px;
    justify-content: center;
    align-content: center;
    width: 100vw;
}