/* CSS for Reservation component */
.DateSelectorsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;

    justify-content: center;
    align-items: center;
}

.SearchButtonDiv {
    justify-self: center;
    align-self: center;

    button {
        min-width: 100px;
        min-height: 10px;
    }
}

.FreeParkingSpotsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;

    justify-content: center;
    align-items: center;
}

.PageTitle {
    width: 100vw;
    text-align: center;
}

.PageText {
    width: 100vw;
    text-align: center;
}