/* CSS for Reservation component */
.DateSelector {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.FreeParkingSpotsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;

    justify-content: center;
    align-items: center;
}

.PageTitle {
    width: 100vw;
    text-align: center;
}

.PageText {
    width: 100vw;
    text-align: center;
}

.ButtonDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    button {
        min-width: 150px;
    }
}