/* CSS for SpotReservations component */
.SpotReservationsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    
    justify-content: center;
    align-items: center;
}

.PageTitle {
    width: 100vw;
    text-align: center;
}

.PageText {
    width: 100vw;
    text-align: center;
}

.BackButton {
    position: absolute;
    top: 12px;
    left: 12px;
}